body{
    margin: 0 auto;
    padding: 0px;
    background-color: black;
    width: 70%;

}

header{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url('assets/fundo.jpg');
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 190px;
    margin: 0px;
    padding: 0px;
}

.logo img{
    margin: 0px;
    padding: 0px;
    width: 300px;
}

.menu{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
}

.menu ul{
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu li{
    display: inline-block;
    padding: 10px;
}

.menu li:hover a, .menu li:hover, .menu li:hover #home, .menu li:hover #quemsobre, .menu li:hover #homesobre {
    background-color: #d1a027;
    color: black;
}

#home{
  color: #d1a027;  
}

section{
    height: 800px;
    width: 100%;
    background-image:url('assets/fundo.jpg');
    display: flex;


}

.slideshow{
    height: 700px;
    width: 50%;
    overflow: hidden;
}

.slideshowsarea{
    height: 700px;
    width: 100%;

}

.slide{
    height: 700px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.valor{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valortexto{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valortexto a{
    color:#d1a027;
    font-size: 44px; 
}

.btagendar{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.btagendar a{
    font-size: 18px;
    text-decoration: none;
    background-color:#d1a027;
    color: black;
    padding: 10px;
    padding-left: 20px;
    height: 20px;
}

.btagendar img{
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
    width: 18px;
    height: 20px;
    background-color:#d1a027;
}



footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2f2f2b;

}

.texto{
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wpp{
    display: flex;
    align-items: center;
}

.wpp img{
    padding-right: 5px;
}

.texto a{
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icones{
    width: 100px;
}

.icones img:hover{
    opacity: 50%;
}

.icones {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.icones ul{
    padding: 0px;
    margin: 0px;
}

.icones li{
    display: inline-block;
}

.iconelocal{
    width: 36px;
    height: 60px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconelocal img{
    width: 36px;
    height: 36px;
}

.localizacao{
    height: 60px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.localizacao a{
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.localizacao #local:hover{
    color: #d1a027;
}


/* Sobre*/



.sobretexto{
    height: 900px;
    width: 100%;
    background-image:url('assets/fundo.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.texto1{
    width: 40%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto1 a{
    color: #d1a027;
    font-size: 26px;
    text-align: center; 
}


#homesobre{
    color: white;
}

#quemsobre{
    color: #d1a027; 
}

